body {
  font-family: "Open Sans", sans-serif;
  background-color: #f9fbfd;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body,
h1,
h2 {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#container {
  max-width: 600px;
  margin: 40px auto;
  background-color: #fff;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
  color: #3d218a;
  margin-bottom: 30px;
}

#productList li {
  background-color: #e9e9e9;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 6px;
  transition: transform 0.2s, background-color 0.2s;
}
